@media screen and (max-width: 600px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    

    .contact-content-con{
        flex-direction: column;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 3.5rem;
            }
        }
    }
    .section{
        padding: 2rem 2.5rem !important;
    }
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #2a2e35;
        .control{
            margin: 1rem .3rem;
        }
    }
}

@media screen and (max-width: 1432px){
    .contact-content-con{
        flex-direction: column;
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 1070px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 970px){
    .section{
        padding: 7rem 6rem;
    }
    header{
        padding: 0;
    }
    header .right-header{
        padding: 0 !important;
    }
}

@media screen and (max-width: 700px){
    .section{
        padding: 7rem 3rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
}